body{
	margin: 0;
	padding: 0;
	color: #444;
	background-color: rgb(29, 29, 34);
	font-family: 'SFLight', sans-serif;
	max-width: 100%;
	overflow-x: hidden;
}

@font-face {
	font-family: "SFLight";
	src: url('../fonts/SF/SF-Pro-Display-Light.otf');
}
@font-face {
	font-family: "SFTextSemiBoldItalic";
	src: url('../fonts/SF/SF-Pro-Text-SemiboldItalic.otf');
}
@font-face {
	font-family: "SFCompactTextBold";
	src: url('../fonts/SF/SFCompactText-Bold.otf');
}
@font-face {
	font-family: "SFProDisplaySemiBold";
	src: url('../fonts/SF/SF-Pro-Display-Semibold.otf');
}
@font-face{
	font-family: "SFRegular";
	src : url("../fonts/SF/SF-Pro-Display-Regular.otf")
}

/*HEADER*/

.header_container{
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
	height: 115px;
	border-bottom: 1px solid #707070;
}

nav.header_nav ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
	width:570px;
	padding-top: 47px;
	display: flex;
	justify-content: space-between;
}

.header_container nav ul a{
	text-decoration: none;
	color: white;
	font-size: 16px;
	letter-spacing:1px;
}

.header_container .header_divlogo img{
	width: 30px;
	padding: 10px;
	margin-top: 25px;
	margin-left: 30px;
}

.header_container .header_divshop img{
	width: 28px;
	padding: 10px;
	margin-top: 27px;
	margin-right: 30px;
}

.header_divhamburger img{
	display: none;
}

.header_divhamburger{
	display: none;
}

/*BODY*/

.index_title{
  margin: 0 auto;
  width: 100%
}

.index_title h1{
	margin: 40px auto;
	width: 50%;
	font-family: "SFProDisplaySemiBold";
	text-align: center;
	font-size: 4.9em;
	color: #FFF;
}

.index_container_animation{
  margin: 0 auto;
  width: 100%;
	height: auto;
  position: absolute;
  top: 200px;
  left: 250px;
}

.index_imgHomePod{
	position: sticky;
	top : -70px;
	z-index: 1;
}

.index_imgHomePod2{
	animation: imgHomePodsizing 1s;
	animation-fill-mode: forwards;
}
@keyframes imgHomePodsizing{
0% {
  transform: scale(1);
  }
50% {
  transform: scale(0.60) translateX(0);
  }
100%{
		transform: scale(0.60) translateX(-650px);
	}
}

.index_imgHomePod4{
	animation: imgHomePodmiddle 1s;
	animation-fill-mode: forwards;
}
@keyframes imgHomePodmiddle{
from {
  transform: scale(0.60) translateX(-650px);
}
to {
  transform: scale(1) translateX(0);
  }
}

.index_title_animation{
	display: none;
}

.index_p_animation{
  display: none;
}

.index_title_animation2{
	color: #FFF;
	display: flex;
	justify-content: center;
	font-size: 40px;
	padding-bottom: 10px;
  letter-spacing: 2px;
	animation: scroll 1s;
	animation-fill-mode: forwards;
}

.index_p_animation2{
	color: #FFF;
  display: flex;
  justify-content: center;
	text-align: justify;
  font-size: 25px;
  animation: scroll 1s;
  animation-fill-mode: forwards;
}
@keyframes scroll{
0% {
  transform: translateX(1600px);
  }
50% {
  transform: translateX(900px);
  }
100%{
	transform: translateX(0);
}
}
.index_div_HomePod{
  margin: 100px auto;
  width: 700px;
  height: 1450px;
  display: block;
  position: relative;
}
.index_carrousel{
	transform: scale(0.9);
  display: flex;
  position: absolute;
}

.index_carrousel img{
height:100%;
width:100%;
padding: 5px;
}


.header_nav{
	z-index: 3;
}

/*BODY*/

.index_siri{
	position: relative;
	width: 100%;
}

.index_siri_img img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.index_siri_img{
	margin-bottom: 200px;
}

.index_siri_text{
	text-align: center;
	position: relative;
	top: -180px;
}

.index_siri_text a{
	font-family: "SFRegular";
	text-decoration: none;
	color: #FFF;
	font-size: 30px;
	position:relative;
}
.index_siri_text a span{
		font-size: 30px;
		position: absolute;
		top : 22px;
		padding-left: 12px;
}
.index_siri_img img:nth-child(1){
	animation: pulse1 2s infinite;
}
@keyframes pulse1 {
	0% {
	  opacity: 1;
	}
	10%{
		transform: scale(1, 0.5);
	}
	50% {
	  opacity: 0;
	}
	65% {
		transform: scale(1, 1.2);
	}
	100% {
		opacity: 1;
	}
}


.index_siri_img img:nth-child(2){
	animation: pulse2 2s infinite;
}
@keyframes pulse2 {
	0% {
		opacity: 0.5;
	}
	10%{
		opacity: 0.2;
		transform: scale(1, 0.8);
	}
	50% {
		opacity: 1;
	}
	65% {
		transform: scale(1, 1.1);
	}
	100% {
		opacity: 0.5;
	}
}


.index_siri_img img:nth-child(3){
	animation: pulse3 1s infinite;
}
@keyframes pulse3 {
	0% {
	  opacity: 0.3;
	}
	10%{
		transform: scale(1, 1.1);
	}
	50% {
	  opacity: 1;
	}
65% {
	transform: scale(1, 0.7);
}
	100% {
		opacity: 0.3;
	}
}
.index_carrousel{
	transform: scale(0.9);
  display: flex;
  position: absolute;
}

/*FOOTER*/

#footer{
	background: #F1F1F1;
}

.footer_container_first{
	display:flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.footer_container_first div{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 30px 20px 60px 20px;
}

.footer_container_first a{
	text-decoration: none;
}

.footer_container_second{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0px 17px -10px 17px;
}

.footer_container_second a{
	text-decoration: none;
	color: black;
	margin: 0px 10px 0px 10px;
}

.footer_container_third p{
	margin-left: 25px;
}

.footer_bottom{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: 4px;
	margin-right: 4px;
}

.footer_bottom a{
	margin: 0px 10px 10px 10px;
	text-decoration: none;
	color: black;
	padding: 10px;

}


/*HEADER MOBILE ET TABLETTE*/

@media screen and (max-width: 915px){


	.header_divhamburger img{
		display: block;
	  width: 50px;
		filter: invert(1);
		padding: 10px;
		margin-top: 20px;
		margin-left: 10px;
	}

	.header_divhamburger{
		display: block;
		z-index: 13;
	}

	.header_nav{
		position: fixed;
		top: 100%;
		left: 0px;
		width:100%;
		height:100%;
		background-color: rgb(29,29,34);
		margin: 0px;
		padding: 0px;
		display: flex;
		align-items: center;
		transition: all ease-out 0.6s;
		justify-content: center;

	}

	.header_nav_visible{
		position: fixed;
		top: 0px;
		left: 0px;
		width:100%;
		height:100%;
		background-color: rgb(29,29,34);
		margin: 0px;
		padding: 0px;
		display: flex;
		align-items: center;
		z-index: 10;
	}


	.header_nav ul{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0px;
		margin: 0px;
		z-index: 11;
	}

	.header_nav ul li{
		padding-bottom: 100px;
	}

	.header_nav ul li a{
		padding: 10px;
		font-size: 25px;
	}

	.header_nav ul li a{
		padding: 10px;
		font-size: 25px;
	}

	.header_divlogo{
		z-index: 13;
	}

	.header_divshop{
		z-index: 13;
	}

	.header_divhamburger img{
		z-index: 14;
	}
}
@media screen and (min-width: 768px) and (max-width: 915px)
{
	.index_carrousel{
		margin-top: 200px;
		transform: scale(0.9);
		display: flex;
		position: absolute;
	}
	.index_imgHomePod2{
		animation: imgHomePodsizing 1s;
		animation-fill-mode: forwards;
		/* transform: scale(0.60); */
	}
	@keyframes imgHomePodsizing{
	0% {
		transform: scale(1);
		}
	100% {
		transform: scale(0.60) ;
		}
	}
	.index_title_animation2{
		color: #FFF;
		display: flex;
		justify-content: center;
		font-size: 30px;
		padding-bottom: 10px;
		letter-spacing: 2px;
		animation: scroll 1s;
		animation-fill-mode: forwards;
	}

	.index_p_animation2{
		color: #FFF;
		display: flex;
		justify-content: center;
		text-align: justify;
		font-size: 25px;
		animation: scroll 2s;
		animation-fill-mode: forwards;
	}
	@keyframes scroll{
	0% {
		transform: translateX(1200px) translateY(0);
		}
	50%{
		transform: translateX(900px) translateY(450px);
	}
	100%{
		transform: translateX(-250px) translateY(450px)
	}
	}
	.index_div_HomePod{
		margin: 100px auto;
		width: 700px;
		height: 1600px;
		display: block;
		position: relative;
	}
	.index_imgHomePod{
		position: relative;
	}
	.index_imgHomePod4{
		animation: imgHomePodmiddle 1s;
		animation-fill-mode: forwards;
	}
	@keyframes imgHomePodmiddle{
	from {
		transform: scale(0.60);
	}
	to {
		transform: scale(1);
		}
	}
}

/* PHONE */

@media screen and (max-width: 768px){
	html, body{
		max-width: 100%;
		overflow-x: hidden;
	}
	.index_title h1{
		width: 100%;
		margin: 0;
	}
	.index_container_animation {
		margin-left: 16px;
		margin-right: 16px;
	}
	.index_carrousel{
		margin-top: 200px;
		transform: scale(0.9);
		display: flex;
		position: absolute;
	}
	.index_imgHomePod2{
		animation: imgHomePodsizing 1s;
		animation-fill-mode: forwards;
		/* transform: scale(0.60); */
	}
	@keyframes imgHomePodsizing{
	0% {
		transform: scale(1);
		}
	100% {
		transform: scale(0.60) ;
		}
	}
	.index_title_animation2{
		color: #FFF;
		display: flex;
		justify-content: center;
		font-size: 25px;
		padding-bottom: 10px;
		letter-spacing: 2px;
		animation: scroll 1s;
		animation-fill-mode: forwards;
	}

	.index_p_animation2{
		color: #FFF;
		display: flex;
		justify-content: center;
		text-align: justify;
		font-size: 15px;
		animation: scroll 2s;
		animation-fill-mode: forwards;
	}
	@keyframes scroll{
	0% {
		transform: translateX(1200px) translateY(0);
		}
	50%{
		transform: translateX(900px) translateY(250px);
	}
	100%{
		transform: translateX(-250px) translateY(250px)
	}
	}
	.index_div_HomePod{
		width: 100%;
		height: auto;
		margin: 100px auto;
		height: 1600px;
		display: block;
		position: relative;
	}
	.index_imgHomePod{
		width: 100%;
		height: auto;
		position: relative;
	}
	.index_imgHomePod4{
		animation: imgHomePodmiddle 1s;
		animation-fill-mode: forwards;
	}
	@keyframes imgHomePodmiddle{
	from {
		transform: scale(0.60);
	}
	to {
		transform: scale(1);
		}
	}
}
