
@font-face {
	font-family: "SF";
	src: url('../fonts/SF/SF-Pro-Display-Light.otf');
}

@font-face {
	font-family: "SFthin";
	src: url('../fonts/SF/SF-Pro-Display-Thin.otf');
}

@font-face {
	font-family: "SFmedium";
	src: url('../fonts/SF/SF-Pro-Display-Medium.otf');
}
#techspec_body{
	margin: 0;
	padding: 0;
	color: #444;
	background-color: #FFFFFF;
	font-family: 'SF', sans-serif;
	max-width: 100%;
    overflow-x: hidden;
}

/*-----------------------HEADER TECHSPEC-----------------------*/

.header_container{
	display: flex;
	justify-content: space-between;
	width: 1350px;
	margin: 0 auto;
	height: 115px;
	border-bottom: 1px solid #707070;
}

nav.header_nav ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
	width:570px;
	padding-top: 47px;
	display: flex;
	justify-content: space-between;
}

#logoapple{
    filter: invert(1);
}
#logoshop{
    filter: invert(1);
}
.header_container nav ul a{
	text-decoration: none;
	color: black;
	font-size: 16px;
	letter-spacing:1px;
}

.header_container .header_divlogo img{
	width: 30px;
	padding: 10px;
	margin-top: 25px;
	margin-left: 30px;
}

.header_container .header_divshop img{
	width: 28px;
	padding: 10px;
	margin-top: 27px;
	margin-right: 30px;
}


/*-------------------------BODY TECHSPEC-----------------------*/
#techspec_main{
    width: 980px;
    margin: 0 auto;
	color: black;
	flex-direction: column;
}
.techspec_boxtitle{
	font-size: 44px;
	text-align: center;
	font-family: "SFmedium"
}
.techspec_desc{
	font-size: 24px;
	text-align: center;

}
.techspec_leftbox, .techspec_rightbox, .techspec_rightbox_left,  #techspec_rightbox_leftmove{
    width: 40%;
	position: relative;
}

.techspec_illustration{
	heigt: auto;
	width: 400px;
}
.techspec_submain{
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
}

.techspec_submain.next{
	margin-top: 180px;
}
.techspec_textcard_rside{
	height: 480px;
	width: 400px;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	border-radius: 90px;
	z-index: 2;
	top:0px;
	margin: 0 auto;
	color: white;
	text-align: center;
	transition: transform 0.3s;
	line-height: 1.2;
	left: 1000px;
}
.techspec_textcard_lside{
	height: 480px;
	width: 400px;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	border-radius: 90px;
	z-index: 2;
	top:0px;
	margin: 0 auto;
	color: white;
	text-align: center;
	transition: transform 0.3s;
	line-height: 1.2;
	left: -1000px;
}

.techspec_cardtitle{
	font-size: 24px;
}

.techspec_textcard_subtext{
	margin: 18px;
	font-family: "SFthin";
	line-height: 1.4;
	font-size: 18px;
}

#techspec_lastsubmain{
	margin-bottom: 200px;
}
/*---------------------ANIMATION LEFTBOX------------------------*/
#techspech_firstboxtitle{
	animation: toRight 1.6s;
	animation-fill-mode: forwards;
}
#techspec_firstdesc{
	animation: toRight 1.8s;
	animation-fill-mode: forwards;
}
@keyframes toRight {
	from {
  transform: translateX(-800px);
  }
to {
  transform: translateX(0);
  }
}

/*---------------------ANIMATION RIGHTBOX-----------------------*/


.techspec_rightbox:hover .techspec_textcard_rside{
	transform: translateX(-1000px);

}

.techspec_rightbox_left:hover .techspec_textcard_lside{
	transform: translateX(+1000px);
}
/*  */
.techspec_boxtitle_effectl{
	animation: toLeft 1.8s;
	animation-fill-mode: forwards;
}
@keyframes toLeft {
	from {
  transform: translateX(800px);
  background: red;
  }
to {
  transform: translateX(0);
  }
}

/* .techspec_desc_effectl{
	animation: toLeft 1.8s;
	animation-fill-mode: forwards;
}

.techspec_boxtitle_effectr{
	animation: toRight 1.8s;
	animation-fill-mode: forwards;
}

.techspec_desc_effectr{
	animation: toRight 1.8s;
	animation-fill-mode: forwards;
}

@keyframes toLeft {
	from {
  transform: translateX(800px);
  }
to {
  transform: translateX(0);
  }
} */
