@font-face {
	font-family: "SF";
	src: url('../fonts/SF/SF-Pro-Display-Light.otf');
}

@font-face {
	font-family: "SFthin";
	src: url('../fonts/SF/SF-Pro-Display-Thin.otf');
}

@font-face {
	font-family: "SFmedium";
	src: url('../fonts/SF/SF-Pro-Display-Medium.otf');
}
#techspec_body{
	margin: 0;
	padding: 0;
	color: #444;
	background-color: #FFFFFF;
	font-family: 'SF', sans-serif;
	max-width: 100%;
    overflow-x: hidden;
	height: 100%;
}

/*-----------------------HEADER TECHSPEC-----------------------*/

.header_container{
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
	height: 115px;
	border-bottom: 1px solid #707070;
}

nav.header_nav ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
	width:570px;
	padding-top: 47px;
	display: flex;
	justify-content: space-between;
}

#logoapple{
    filter: invert(1);
}
#logoshop{
    filter: invert(1);
}
.header_container nav ul a{
	text-decoration: none;
	color: black;
	font-size: 16px;
	letter-spacing:1px;
}

.header_container .header_divlogo img{
	width: 30px;
	padding: 10px;
	margin-top: 25px;
	margin-left: 30px;
}

.header_container .header_divshop img{
	width: 28px;
	padding: 10px;
	margin-top: 27px;
	margin-right: 30px;
}

.header_divhamburger img{
	display: none;
}

.header_divhamburger{
	display: none;
}

/*-------------------------BODY TECHSPEC-----------------------*/
#techspec_main{
    width: 980px;
    margin: 0 auto;
	color: black;
	flex-direction: column;
}
.techspec_boxtitle{
	font-size: 44px;
	text-align: center;
	font-family: "SFmedium"
}
.techspec_desc{
	font-size: 24px;
	text-align: center;

}
.techspec_leftbox, .techspec_rightbox, .techspec_rightbox_left,  #techspec_rightbox_leftmove{
    width: 40%;
	position: relative;
}

.techspec_illustration{
	heigt: auto;
	width: 400px;
}
.techspec_submain{
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
}

.techspec_submain.next{
	margin-top: 180px;
}
.techspec_textcard_rside{
	height: 480px;
	width: 400px;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	border-radius: 90px;
	z-index: 2;
	top:0px;
	margin: 0 auto;
	color: white;
	text-align: center;
	line-height: 1.2;
	transition: left 0.3s;
	left: 250%;
	transform: translateX(-50%);
}
.techspec_textcard_lside{
	height: 480px;
	width: 400px;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	border-radius: 90px;
	z-index: 2;
	top:0px;
	margin: 0 auto;
	color: white;
	text-align: center;
	line-height: 1.2;
	transition: left 0.3s;
	left: -150%;
	transform: translateX(-50%);
}

.techspec_cardtitle{
	font-size: 24px;
}

.techspec_textcard_subtext{
	margin: 18px;
	font-family: "SFthin";
	line-height: 1.4;
	font-size: 18px;
}

#techspec_lastsubmain{
	margin-bottom: 200px;
}
/*---------------------ANIMATION LEFTBOX------------------------*/
#techspech_firstboxtitle{
	animation: toRight 1.6s;
	animation-fill-mode: forwards;
}
#techspec_firstdesc{
	animation: toRight 1.8s;
	animation-fill-mode: forwards;
}
@keyframes toRight {
	from {
  transform: translateX(-800px);
  }
to {
  transform: translateX(0);
  }
}

/*--------------------------ANIMATION----------------------------*/


.techspec_rightbox:hover .techspec_textcard_rside,
.techspec_rightbox_left:hover .techspec_textcard_lside {
	left: 50%;
}

/*  */
.techspec_boxtitle_effectl{
	animation: toLeft 1.6s;
	animation-fill-mode: forwards;
}
@keyframes toLeft {
	from {
  transform: translateX(800px);
  }
to {
  transform: translateX(0);
  }
}

.techspec_desc_effectl{
	animation: toLeft 1.8s;
	animation-fill-mode: forwards;
}

.techspec_boxtitle_effectr{
	animation: toRight 1.6s;
	animation-fill-mode: forwards;
}

.techspec_desc_effectr{
	animation: toRight 1.8s;
	animation-fill-mode: forwards;
}

@keyframes toLeft {
	from {
  transform: translateX(800px);
  }
to {
  transform: translateX(0);
  }
}
/*----------------------------RESPONSIVE--------------------------*/
@media screen and (min-width:768px) and (max-width:1024px)
{
  #techspec_main{
	  width: 100%;
  }
  .techspec_submain{
	  flex-direction: column;
	  align-items: center;
  }
  .techspec_leftbox{
	  width: 100%;
  }
  .techspec_rightbox{
	  text-align: center;
	  width: 100%;
  }
  .techspec_rightbox_left{
	 text-align: center;
	 width: 100%;
  }
  #techspec_secondmain{
	  flex-direction: column-reverse;
  }
  next{
	  margin-top: 0px;
  }

  p{
	  margin-left: 30px;
	  margin-right: 30px;
  }
}

@media screen and (max-width:768px)
{
  #techspec_main{
	  width: 100%;
  }
  .techspec_submain.next{
  	margin-top: 40px;
  }
  .techspec_submain{
	  flex-direction: column;
	  align-items: center;
	  margin-top: 10px;
  }
  .techspec_leftbox{
	  width: 100%;
  }
  .techspec_rightbox{
	  text-align: center;
	  width: 100%;
  }
  .techspec_rightbox_left{
	 text-align: center;
	 width: 100%;
  }
  #techspec_secondmain{
	  flex-direction: column-reverse;
  }
  next{
	  margin: 0px;
  }

  p{
	  margin-left: 30px;
	  margin-right: 30px;
  }
}


/*HEADER MOBILE ET TABLETTE*/

@media screen and (max-width: 915px){

	.header_nav{

	}

	.header_divhamburger img{
		display: block;
	  width: 50px;
		padding: 10px;
		margin-top: 20px;
		margin-left: 10px;
		z-index: 12;
	}

	.header_divhamburger{
		display: block;
		z-index: 11;
	}

	.header_nav{
		position: fixed;
		top: 100%;
		left: 0px;
		width:100%;
		height:100%;
		background-color: white;
		margin: 0px;
		padding: 0px;
		display: flex;
		align-items: center;
		transition: all ease-out 0.6s;
		justify-content: center;
		z-index: 10;

	}

	.header_nav_visible{
		position: fixed;
		top: 0px;
		left: 0px;
		width:100%;
		height:100%;
		background-color: white;
		margin: 0px;
		padding: 0px;
		display: flex;
		align-items: center;
	}


	.header_nav ul{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0px;
		margin: 0px;
	}

	.header_nav ul li{
		padding-bottom: 100px;
	}

	.header_nav ul li a{
		padding: 10px;
		font-size: 25px;
	}

	.header_nav ul li a{
		padding: 10px;
		font-size: 25px;
	}

	.header_divlogo{
		z-index: 13;
	}

	.header_divshop{
		z-index: 13;
	}

}

/*FOOTER*/

#footer {
    font-weight: normal;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%
}
#footer h3{
  display: block;
  color : black
}
    #footer {
        font-weight: normal;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        text-size-adjust: 100%
    }

    #footer,#footer:before,#footer:after,#footer *,#footer *:before,#footer *:after {
        box-sizing:content-box;
        margin: 0;
        padding: 2px;
        pointer-events: auto;
        letter-spacing: normal
    }

    #footer article,#footer aside,#footer details,#footer figfooter_caption,#footer figure,#footer footer,#footer header,#footer nav,#footer section {
        display: block
    }

    #footer img {
        border: 0;
        vertical-align: middle
    }

    #footer ul {
        list-style: none
    }

    #footer,#footer input,#footer textarea,#footer select,#footer button {
        font-synthesis: none;
        -moz-font-feature-settings: 'kern';
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        direction: ltr;
        text-align: center
    }

    #footer,#footer select,#footer button {
        font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif
    }

    #footer input,#footer textarea {
        font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif
    }

    #footer .ac-gf-icon::before,#footer .ac-gf-icon::after,#footer .ac-gf-more::before,#footer .ac-gf-more::after {
        font-family: "SF Pro Icons","Apple Legacy Chevron";
        color: black;
        display: inline-block;
        font-style: normal;
        font-size: 15px;
        line-height: 1;
        text-decoration: underline;
        position: relative;
        z-index: 1;
        alt: ''
    }

    #footer .ac-gf-icon::before,#footer .ac-gf-icon::after,#footer .ac-gf-more::before,#footer .ac-gf-more::after {
        text-decoration: none
    }

    #footer .ac-gf-icon::before,#footer .ac-gf-more::before {
        display: none
    }

    #footer .ac-gf-icon-after::after,#footer .ac-gf-more::after {
        padding-left: .3em;
        top: 0
    }

    #footer .ac-gf-icon-before::before {
        padding-right: .3em;
        display: inline-block;
        top: 0
    }

    #footer .ac-gf-icon-before::after {
        display: none
    }
    #footer .ac-gf-more-block {
        margin-top: .5em
    }
    #footer a.ac-gf-block {
        display: block;
        cursor: pointer;
        text-decoration: none
    }
    #footer a.ac-gf-block::before,#footer a.ac-gf-block::after {
        content: ' ';
        display: table
    }
    #footer a.ac-gf-block::after {
        clear: both
    }
    #footer a.ac-gf-block:hover {
        text-decoration: none
    }
    #footer a.ac-gf-block:hover .ac-gf-block-link {
        text-decoration: underline
    }
    #footer a.ac-gf-block:hover .ac-gf-block-link.icon-ie-parent {
        text-decoration: none
    }
    #footer a.ac-gf-block:hover .ac-gf-block-link.icon-ie-parent .icon-ie-link {
        text-decoration: underline
    }
    #footer .ac-gf-block-link {
        color: black;
        cursor: pointer
    }
    #footer a.ac-gf-block-inline {
        display: inline-block
    }
    #footer {
        font-size: 12px;
        line-height: 1.36364;
        font-weight: 400;
        letter-spacing: -.008em;
        font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
        background-color: white;
        color: black;
        min-width: 1024px;
        overflow: hidden;
        position: relative;
        z-index: 1
    }
    .ac-theme-dark #footer,#footer.footer-dark {
        background-color: #222;
        color: #ccc
    }
    @media only screen and (max-width: 1044px) {
        #footer {
            min-width:320px
        }
    }
    #footer h3{
      font-size: 15px;
      color: black;
    }

    #footer a {
        color: #555;
        text-decoration: none
    }
    #footer a.ac-gf-block {
        text-decoration: none
    }
    .ac-theme-dark #footer a.ac-gf-block .ac-gf-block-link,#footer.footer-dark a.ac-gf-block .ac-gf-block-link {
        color: #6bf
    }
    #footer .footer_contenu {
        display: inline-block;
        justify-content:center;
        text-align: center;
    }
    #footer container{
      display: flex;
      justify-content: space-around;
    }
    .footer_contenu{
      width: 1200px
    }
    #footer container h3{
      color: black
    }
    .footer_legales{
      margin: bottom
      color: black
    }
    @supports (padding: calc(max(0px))) {
        #footer .footer_contenu {
            padding-left:calc(max(22px, env(safe-area-inset-left)));
            padding-right: calc(max(22px, env(safe-area-inset-right)))
        }
    }
    @media only screen and (max-width: 767px) {
        #footer .footer_contenu {
            padding:0
        }
    }
    #footer .ac-gf-buystrip-hero {
        font-size: 17px;
        line-height: 1.52947;
        font-weight: 400;
        letter-spacing: -.021em;
        font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
        direction: rtl;
        padding-top: 60px;
        text-align: center
    }
    #footer .ac-gf-buystrip-info {
        font-size: 14px;
        line-height: 1.42861;
        font-weight: 400;
        letter-spacing: -.016em;
        border-bottom: 0.4px solid #d6d6d6;
        padding-top: 4px;
        justify-content: space-around;
    }
    @media only screen and (max-width: 480px) {
        #footer .ac-gf-buystrip-info {
            padding-top:8px
        }
    }

    #footer .ac-gf-buystrip-info-column {
        box-sizing: border-box;
        position: relative;
        z-index: 1;
        margin: 0;
        padding: 0;
        float: left;
        min-height: 2px;
        width: 25%;
        font-size : 12px;
        color : white
    }
    #footer a .lien{
      color: blue
    }
    #footer a{
      color: white
    }
    @media only screen and (max-width: 1023px) {
        #footer .ac-gf-buystrip-info-column {
            width:50%
        }

        #footer .ac-gf-buystrip-info-column:nth-child(3) {
            clear: left
        }
    }

    @media only screen and (max-width: 480px) {
        #footer .ac-gf-buystrip-info-column {
            width:100%
        }
    }

    #footer .footer_fleche {
        margin: 30px;
        padding-top: 3px;
        position: relative;
        text-align: center;
        z-index: 1;
        justify-content: space-between;
    }

    @media only screen and (max-width: 480px) {
        #footer .footer_fleche {
            padding-top:36px
        }
    }
    #footer .ac-gf-buystrip-info-icon {
        margin: 0 auto
    }

    #footer .footer_grostitre,#footer .footer_texte,#footer .footer_caption,#footer .ac-gf-buystrip-info-cta {
        margin: 0
    }
    #footer .footer_grostitre {
        font-size: 19px;
        line-height: 1.21053;
        font-weight: 600;
        letter-spacing: .012em;
        font-family: "SF Pro Display","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
        margin-top: 0.125em
    }
    #footer .footer_texte {
        display: block;
        justify-content: space-around;
        margin-top: 0.5em
    }

    #footer .footer_caption {
        display: block;
        justify-content: space-around;
    }
    #footer .ac-gf-buystrip-info-cta {
        color: #0070c9;
        margin-top: 0.8em;
        margin-bottom: -.21429em;
        display: block;
        justify-content: space-around;
    }
    #footer.no-js .ac-gf-buystrip-info-cta-chat {
        display: inline-block;
        justify-content: space-around;

    }

    #footer .ac-gf-buystrip-info.with-3-columns .ac-gf-buystrip-info-column {
        box-sizing: border-box;
        position: relative;
        z-index: 1;
        margin: 0;
        padding: 0;
        float: left;
        min-height: 2px;
        width: 33.33333%
    }
        #footer .ac-gf-buystrip-info.with-3-columns .ac-gf-buystrip-info-column:nth-child(3) {
            width: 100%;
            clear: left
        }
    }
    #footer .ac-gf-buystrip-info.with-2-columns {
        padding-left: 80px;
        padding-right: 80px
    }
    #footer .ac-gf-buystrip-info.with-2-columns .ac-gf-buystrip-info-column {
        box-sizing: border-box;
        position: relative;
        z-index: 1;
        margin: 0;
        padding: 0;
        float: left;
        min-height: 2px;
        width: 50%
    }
    #footer.flexbox .ac-gf-buystrip-info-column,#footer.flexbox .ac-gf-buystrip-info.with-3-columns .ac-gf-buystrip-info-column,#footer.flexbox .ac-gf-buystrip-info.with-2-columns .ac-gf-buystrip-info-column {
        width: auto;
        float: none
    }

    #footer.flexbox .ac-gf-buystrip-info-column {
        -webkit-box-flex: 1;
        -webkit-flex: 1 25%;
        -ms-flex: 1 25%;
        flex: 1 25%;
        max-width: 410px
    }
    #footer.flexbox .ac-gf-buystrip-info-column:first-child:nth-last-child(2),#footer.flexbox .ac-gf-buystrip-info-column:last-child:nth-child(2) {
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%
    }
    #footer.flexbox .ac-gf-buystrip-info.with-2-columns {
        max-width: none
    }
    #footer .footer_title {
        font-size: 11px;
        line-height: 1.36364;
        font-weight: 600;
        letter-spacing: -.008em;
        font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
        margin: 0;
        margin-bottom: .8em
    }
    @media only screen and (max-width: 767px) {
        #footer .footer_title {
            font-size:12px;
            line-height: 1.33341;
            font-weight: 400;
            letter-spacing: -.01em;
            font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif
        }
    }
    @media only screen and (max-width: 767px) {
        #footer .footer_title {
            margin-bottom:0;
            padding-top: 10px;
            padding-bottom: 10px;
            background: #f2f2f2;
            cursor: pointer;
            position: relative;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            z-index: 2
        }
        .ac-theme-dark #footer .footer_title,#footer.footer-dark .footer_title {
            background: #222;
            color: #ccc
        }
        #footer .footer_title:hover {
            color: #000
        }
        .ac-theme-dark #footer .footer_title:hover,#footer.footer-dark .footer_title:hover {
            color: #fff
        }
        #footer .footer_title:after {
            content: '+';
            float: right;
            font-size: 14px;
            font-weight: normal;
            margin-top: -2px;
            margin-right: 8px;
            -webkit-transition: -webkit-transform .3s ease;
            transition: -webkit-transform .3s ease;
            transition: transform .3s ease;
            transition: transform .3s ease, -webkit-transform .3s ease
        }
    }
    #footer .ac-gf-footer {
        border-top: 1px solid #d6d6d6;
        color: #888;
        padding: 17px 0 21px;
        padding-bottom: calc(21px + constant(safe-area-inset-bottom))
    }

    @supports (padding: calc(max(0px))) {
        #footer .ac-gf-footer {
            padding-bottom:calc(max(21px, env(safe-area-inset-bottom)))
        }
    }

    #footer .ac-gf-footer:nth-child(2) {
        border-top: none
    }

    @media only screen and (max-width: 767px) {
        #footer .ac-gf-footer {
            padding-bottom:19px;
            padding-bottom: calc(19px + constant(safe-area-inset-bottom))
        }

        @supports (padding: calc(max(0px))) {
            #footer .ac-gf-footer {
                padding-bottom:calc(max(19px, env(safe-area-inset-bottom)))
            }
        }
    }
    @media only screen and (max-width: 767px) {
        #footer .ac-gf-footer-shop {
            padding-bottom:10px
        }
    }
    .ac-theme-dark #footer .ac-gf-footer-shop,#footer.footer-dark .ac-gf-footer-shop {
        border-color: #444
    }
    #footer .ac-gf-footer-shop a {
        color: #0070c9
    }
    #footer .footer_fleche a {
        color: #0070c9
    }
    .ac-theme-dark #footer .ac-gf-footer-shop a,#footer.footer-dark .ac-gf-footer-shop a {
        color: #6bf
    }
    #footer .ac-gf-footer-locale {
        float: right;
        margin-top: 5px;
        position: relative;
        top: -3px;
        z-index: 2;
        white-space: nowrap
    }
    @media only screen and (max-width: 767px) {
        #footer .ac-gf-footer-locale {
            left:-1px;
            padding-top: 5px;
            float: none
        }
    }
    #footer .ac-gf-footer-locale-link {
        border-left: 1px solid #d6d6d6;
        margin-left: 7px;
        padding-left: 11px;
        display: inline
    }
    .ac-theme-dark #footer .ac-gf-footer-locale-link,#footer.footer-dark .ac-gf-footer-locale-link {
        border-color: #444
    }
    #footer .footer_mentionsfooter_legales {
        position: relative;
        top: -3px;
        z-index: 1
    }
    #footer .footer_mentionsfooter_legales-link {
        border-right: 1px solid #d6d6d6;
        margin-right: 7px;
        padding-right: 10px;
        display: inline-block;
        font-size: 12px;
        margin-top: 5px;
        white-space: nowrap
    }
    .ac-theme-dark #footer .footer_mentionsfooter_legales-link,#footer.footer-dark .footer_mentionsfooter_legales-link {
        border-color: #444
    }

    #footer .ac-gf-buystrip-info+.ac-gf-footer {
        border-top: none
    }
    #footer .ac-gf-sosumi+.ac-gf-footer {
        border-top: none
    }
    @media only screen and (max-width: 767px) {
        #footer .ac-gf-breadcrumbs+.ac-gf-footer {
            border-top:none
        }
    }
    #footer .ac-gf-buystrip {
        text-align: center
    }
